/* COLORS */
/* FONTS */
/* COLORS */
/* FONTS */
@-webkit-keyframes zoomOut {
  from {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }
  to {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes zoomOut {
  from {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }
  to {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .fadeIn--late {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  background: #fafafa; }

.container {
  width: 240px;
  margin: 50px auto; }

.hidden {
  display: none; }

.text-normal {
  font-weight: normal; }

/* COLORS */
/* FONTS */
.btn {
  padding: 6px 12px;
  background-color: #fff;
  border: none;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(41, 157, 48, 0.75);
          box-shadow: 0px 0px 0px 1px rgba(41, 157, 48, 0.75); }
  .btn:hover {
    cursor: pointer; }
  .btn:focus {
    outline: none; }
  .btn--green {
    background-color: #299d30;
    color: #fff; }
    .btn--green:hover {
      background-color: #2eb136; }
    .btn--green:active {
      background-color: #27952e; }

/* COLORS */
/* FONTS */
.banner {
  position: relative;
  text-align: center;
  width: 240px;
  height: 400px;
  border: 1px solid #000;
  margin-bottom: 15px;
  padding: 0 15px;
  overflow: hidden; }
  .banner:before {
    background: url(images/img2.jpg) center center no-repeat #998f82;
    background-size: cover;
    width: 240px;
    height: 400px;
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-animation: zoomOut 3s ease-in;
            animation: zoomOut 3s ease-in; }
  .banner--no-image:before {
    background: #998f82; }
  .banner__title {
    color: #000;
    font-weight: bold;
    font-size: 24px;
    padding: 15px 0; }
    .banner__title--white {
      color: #fff; }
  .banner__btn {
    display: block;
    width: 210px;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px; }
  .banner__user-type {
    text-transform: uppercase;
    font-size: 30px; }

.question-label {
  color: #fff;
  font-weight: bold;
  background-color: #87c53b;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 2px; }

.answer {
  padding: 20px 0 10px; }
  .answer__text {
    background-color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    text-align: left;
    height: 100px; }
    .answer__text:hover {
      cursor: pointer;
      -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.55);
              box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.55); }

.main-title {
  text-transform: uppercase;
  color: #fff;
  font-weight: normal; }

/*# sourceMappingURL=main.css.map*/
