@import 'vars';

.banner{
    position: relative;
    text-align: center;
    width: $banner-width;
    height: $banner-height;
    border: 1px solid #000;
    margin-bottom: 15px;
    padding: 0 15px;
    overflow: hidden;
    &:before {
        background: url(../images/img_2.jpg) center center no-repeat $light-brown;
        background-size: cover;
        width: $banner-width;
        height: $banner-height;
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: zoomOut 3s ease-in;
    }

    &--no-image{
        &:before{
            background: $light-brown;
        }
    }

    &__title{
        color: #000;
        font-weight: bold;
        font-size: 24px;
        padding: 15px 0;
        &--white{
            color: #fff;
        }
    }
    &__btn{
        display: block;
        width: 210px;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
    }
    &__user-type{
        text-transform: uppercase;
        font-size: 30px;
    }
}

.question-label{
    color: #fff;
    font-weight: bold;
    background-color: $light-green;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 2px;
}

.answer{  
    padding: 20px 0 10px;

    &__text{
        background-color: #fff;
        font-size: 16px;
        padding: 10px 15px;
        text-align: left;
        height: 100px;
        &:hover{
            cursor: pointer;
            box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.55);
        }
    }
}

.main-title{
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
}

