* {
    box-sizing: border-box;
}
body{
    font-family: $ptsans;
    font-size: 16px;
    background: $background-color;
}
.container{
    width: $banner-width;
    margin: 50px auto;
}

.hidden{
    display: none;
}

.text-normal{
    font-weight: normal;
}