$banner-width: 240px;
$banner-height: 400px;

$banner-extra-width: 288px;
$banner-extra-height: 480px;

/* COLORS */
$green: #299d30;
$light-green: #87c53b;
$background-color: #fafafa;
$light-brown: #998f82;

/* FONTS */
$ptsans: 'PT Sans', sans-serif;